**/.DS_Store
**/.settings
**/.idea
**/.project
**/target
**/.classpath
**/dependency-reduced-pom.xml
/*.exec
**/node_modules
**/*.iml
/package-lock.json
src/main/resources/META-INF/resources/webjars/password/vue/*
